@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,300&display=swap');
*{
    margin: 0px;
    padding: 0%;
}
body{
    background-color: white;
}

.container{
    padding-top: 110px;
    height: 3400px;
    min-width: 1000px;
    width: 65%;
    margin:auto;
}
/* Starting with main content */
/* giving the heading part its height and width */
.heading{
    height: 9%;
    max-height: 238px;
    width: 65%;
    min-width: 1055px;
    padding-top: 6%;
    margin: 0% auto 6%;
}
.heading>h1,.heading>p{
    text-align: center;
    font-size: 18px;
    color: rgba(41, 40, 40, 0.952);
    word-spacing: 1px;
}
.heading>h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 450%;
    font-weight: 400;
    margin-bottom: 2.5%;
    word-spacing: 7px;
}
/* bloging post area style */
.blog_area{
    height: 85%;
    width: 100%;
    display: flex;
}
.blog_area img{
    cursor: pointer;
}
.post_area{
    height: 100%;
    width: 69%;
}
.ad_area{
    height: 45%;
    width: 26%;
    margin-left: 5%;
}
/* big post style goes here */
.big_post{
    height: 23%;
    width: 100%;
    margin-bottom: 6%;
    border: gray solid 1px;
}
.big_post>h6,.big_post>h2,.big_post>p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    margin:3%;
    line-height: 130%;
    word-spacing: 3px;
}
.big_post>h6>span{
    color:mediumblue;
}
.big_post>h2{
    font-size: 2.3em;
    max-width: 666px;
    font-weight: 400;
    inline-size: max-content;
    cursor: pointer;
}
.big_post>p{
    font-size: 18px;
    opacity: .6;
}
.big_post>img{
    width: 100%;
    height: 54%;
}
/* small post grid style goes here */
.grid{
    height: 75%;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: repeat(5,19.25%);
}
.grid>div{
    border: rgba(145, 142, 142, 0.671) solid 1px;
}
.grid>div>img{
    height: 50%;
    width: 100%;
}
.grid>div>h6,.grid>div>h2{
    font-size: 13px;
    margin:3%;
    line-height: 130%;
    word-spacing: 3px;
}
.grid>div>h6>span{
    color:mediumblue;
    cursor: pointer;
}
<<<<<<< HEAD
.grid>div>h2{
    font-size: 27px;
    font-weight: 200;
=======
.grid>div>h2 {
    font-size: 27px;
    font-weight: 400;
>>>>>>> 83625eac798f2a57d3888ab535990822846b0345
    cursor: pointer;
}
/* blog post's side area(ad & form) style starts here  */
.form{
    height: 36%;
    width: 100%;
    margin-bottom: 5%;
}
.form>h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 33%;
    width: 100%;
    margin-bottom: 3%;
    font-size: 35px;
    font-weight: 400;
}
form{
    width: 100%;
    height: 65%;
}
form>input{
    height: 13%;
    width: 90%;
    margin-bottom: 2.5%;
}
form>label{
font-size: 10px;
}
form>input[type="checkbox"]{
    height: auto;
    width: auto;
    margin: 0px;
}
form>input[type="button"]{
    height: 17%;
    border: none;
    background-color: rgb(3, 89, 248);
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/* two picture ad style  */
.ad{
    width: 90%;
    height: 24%;
    margin-bottom: 9%;
}
.ad_area img{
    height: 100%;
    width: 100%;
}
#follow{
    width: 85%;
    height: 10%;
    margin-bottom: 0px;
}
#follow>div{
    width: 100%;
    height: 100%;
    border: gray solid 1px;
}
#follow>div>h1{
    height: 40%;
    text-align: center;
    font-weight: 500;
}
/* social link style goes here */
.social_link{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,24%);
    grid-template-rows: repeat(1,100%);
    grid-gap: 3px;
}
/* .social_link>div{
    background-color: blue;
} */
.social_link img{
    height: 50px;
    width: 50px;
    border-radius: 50%
}
/* pages style */
.pages{
    height: 3%;
    width: 100%;
}
.pages>div{
    padding: 5px;
    height: 50%;
    width: 50%;
    margin-left: 70%;
    display: grid;
    grid-template-columns: repeat(6,8%);
    grid-template-rows: repeat(1,100%);
    grid-gap: 2px;
}
.pages>div>div{
    border: rgba(150, 146, 146, 0.87) solid 1px;
    padding-top: 40%;
    text-align: center;

}
.pages>div>div:nth-child(4){
    border: none;
    padding-top: 90%;
}
.pages>div>div:nth-child(6){
    width: 160%;
}
/* adding hover effect */
.post_area img:hover{
    opacity: 0.5;
}
@media only screen and (max-width: 1200px) {
    .container{
        min-width: 900px;
        width: 90%;
        margin:auto;
    }
    .heading {
        width: 60%;
        min-width: 950px;
        padding-top: 5%;
        margin:0% auto 2%;
    }
    .heading>h1 {
        font-size: 400%;
    }
    .big_post>h2 {
        font-size: 2rem;
        max-width: 600px;
    }
    .form>h3{
        font-size: 2rem;
    }
    #follow>div>h1 {
        font-size: 1.8rem;
    }
    .ad_area {
        width: 30%;
        margin-left: 1%;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        min-width: 680px;
        width: 95%;
        margin:auto;
    }
    .heading {
        min-width: 650px;
        padding-top: 4%;
        margin: 0% auto 1%;
    }
    .heading>h1 {
        font-size: 240%;
    }
    .big_post>h2 {
        font-size: 2rem;
        max-width: 500px;
    }
    .form>h3{
        font-size: 1.9rem;
    }
    #follow>div>h1 {
        font-size: 1.8rem;
    }
    .ad_area {
        width: 30%;
        margin-left: 1%;
    }
    .grid{
        grid-gap: 15px;
    }
    .grid>div>h2{
        font-size: 23px;
        font-weight: 400;
    }
    .pages>div{
        margin-left: 50%;
        width: 70%;
    }
    .pages>div>div{
        width: 110%;
    }
} 
@media only screen and (max-width: 800px) {
    .container{
        min-width: 490px;
        width: 98%;
        margin:auto;
    }
    .heading {
        min-width: 500px;
        padding-top: 4%;
        margin: 0% auto 1%;
    }
    .heading>h1{
        font-size: 250%;
    }
    .lessthan800px{
        display: none;
    }
    .blog_area{
        display: flex;
        flex-direction: column;
    }
    .post_area{
        height: 90%;
        width: 85%;
        margin: auto;
    }
    .ad_area{
        height: 10%;
        width:85%;
        margin:auto;
    }
    .big_post>h2 {
        font-size: 1.4rem;
        max-width: 500px;
        inline-size:100%;
    }
    .big_post>p{
        font-size: 1rem;
        opacity: .6;
    }
    .grid{
        height: 71%;
        grid-gap: 15px;
    }
    .grid>div>h2{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .form{
        height: 100%;
        width: 40%;
        margin:auto;
    }
    .form>h3{
        height: 29%;
        width: 100%;
        margin-bottom: 1%;
        font-size: 1.25rem;
        font-weight: 400;
    }
    form{
        width: 100%;
        height: 70%;
    }
    .pages>div>div{
        width: 110%;
    }
}