* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* header with class navbar-fixed */
header.navbar-fixed > div {
  position: fixed;
  top: 0px;
  padding: 0px;
  background-color: white;
}
img[alt="search icon"] {
  width: 18px;
}
header>div>a img{
  width: 64%;
  margin-left: 51%;
}
#contact-body {
  width: 100%;
  margin-top: 20vh;
}
.align {
  text-align: center;
}
.cont-headlines {
  font-size: 65px;
  word-spacing: 5px;
}
.cont-details {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: rgb(48, 48, 48);
  margin-top: 20px;
}
div.div-color div.div-2 .btn-a{
  width: 40%;
}

#contact-catogary {
  width: 100%;
  display: flex;
  margin-top: 90px;
  flex-wrap: wrap;

}
#contact-catogary > div {
  flex-basis: 20%;
  height: 470px;
  word-spacing: 5px;
  border: 1px solid rgb(222, 226, 230);
  margin: 2%;
}

.border {
  float: left;
  margin-top: 8%;
  width: 1.5%;
  height: 9%;
}
.border-green {
  background-color: rgb(39, 204, 141);
}
.border-red {
  background-color: rgb(255, 161, 161);
}
.cato-details {
  color: rgb(48, 48, 48);
  width: 80%;
  height: 100%;
  float: left;
 
  font-size: 20px;
  margin-left: 12%;
  padding-top: 5%;
}
.cato-details h1 {
  font-size: 31px;
  margin-bottom: 20px;
}

.cato-details > div:nth-child(2) {
  height: 20%;
}
#contact-catogary > div h1 {
  color: rgb(48, 48, 48);
}
.btn-a {
  width: 20rem;
  height: 50px;
  margin-top: 50px;
} 

.btn {
  width: 100%;
  height: 15%;
}
.btn a {
  text-decoration: none;
  font-weight: bold;
  padding: 8%;
  height: 100%;
  font-size: 24px;
  border: 2px solid blue;
  color: blue;
}
.btn a:hover {
  background-color: blue;
  color: white;
}



/*Second "contact-body-digs" div style*/
#contact-body-digs, #contact-body-digs1 {
  width: 100%;
  height: 700px;
  color: white;
  background-color: rgb(48, 48, 48);
  margin: 0 auto;
  padding-top: 1.5%;
}
.contact-body-digs-headl {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}
.contact-loc-info {
  display: flex;
  margin-left: 9%;
  flex-wrap: wrap;
}
.contact-loc-info > div {
  flex-basis: 28%;
  margin: 2.5%;
}
.inDistace > div{
  margin-bottom: 50px;
}
.contact-addr {
  display: flex;
  flex-wrap: wrap;
  
}
.contact-addr > div {
  flex-basis: 35%;
  margin: 2%;
}
img {
  width: 100%;
}
.setClr{
  color: white;
}
div.div-color {
  width: 100%;
  padding-bottom: 300px;
}
div.div-color div.div-2 > div.start-trial > a{
  width: 25rem;
  padding: 20px 50px;
  text-align: center;
  font-size: 25px;
  background-color: white;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
div.div-color div.div-2 > div.start-trial{
  width: 25rem;
  margin: 50px auto;
}
div.div-color div.div-2 > div.start-trial > a:hover{
  background-color: blue;
  border: 3px solid white;
  color: white;
}
@media screen and (min-width: 1200px) {
  .cato-details > div:nth-child(1) {
    height: 75%;
  }
  
  #contact-catogary > div a {
    padding: 8%;
  }
  #contact-body-digs {
    height: 700px;
  }
}

@media screen and (min-width: 821px) and (max-width: 1200px) {
  #contact-catogary > div {
    flex-basis: 40%;
    margin: 4%;
  }
  .cato-details > div:nth-child(1) {
    height: 70%;
  }
  #contact-body-digs{
    height: 650px;
    background-color: rgb(48,48,48);
}
}

@media screen and (max-width: 820px) {
  #contact-body {
    width: 100%;
    margin-top: 30vh;
  }
  #contact-catogary > div {
    flex-basis: 100%;
    height: 350px;
    margin: 3%;
  }
  .btn {
    width: 100%;
    height: 10%;
  }
  #contact-catogary > div a {
    padding: 5%;
  }
  .cato-details > div:nth-child(1) {
    height: 62%;
  }
 #contact-body-digs{
    height: 2200px;
    background-color: rgb(48,48,48);
}
  .contact-loc-info {
    display: flex;
    margin-left: 12%;
    flex-wrap: wrap;
  }
  .contact-loc-info > div {
    flex-basis: 90%;
    flex-wrap: wrap;
    margin: 2.5%;
  }
  .contact-addr > div {
    flex-basis: 90%;
    margin-bottom: 0;
  }
}

/*Solution-PPC page CSS*/
.sol-main-div-1 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 150px auto;
}
.sol-main-div-1 > div, .div-2 > div {
  flex-basis: 50%;
}
/* .btn-a {
  width: 100%;
  height: 50px;
  margin-top: 50px;
} */
.btn-a > a {
  width: 100%;
  height: 100%;
  padding: 4% 10%;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  background-color: blue;
  font-size: 22px;
}
.btn-a :hover {
  background-color: rgb(19, 19, 177);
}
.img-div > img {
  width: 100%;
}
.width {
  width: 75%;
  margin: 30px auto;
}
.div-2 {
  width: 90%;
  margin: 50px auto;
}
.div-2-cont {
  display: flex;
  flex-wrap: wrap;
}
.div-2-cont > div {
  flex-basis: 45%;
  margin: 2%;
}
.div-2-cont > div > div {
  margin-bottom: 30px;
}
.leaders {
  display: flex;
  width: 100%;
  margin-top: 100px;
}
.lead-img {
  width: 15%;
}
.lead-quot {
  width: 80%;
  padding-left: 2%;
}
.lead-quot :first-child {
  font-size: 40px;
  margin: 0;
}
.border1 {
  width: 7%;
  height: 10px;
  margin: 0 45% 20px;
  background-color: rgb(255, 161, 161);
}
.btn2 {
  width: 25%;
  margin: 50px 38% 20px;
}
.div-color {
  width: 100%;
  height: 450px;
  margin: 0px;
  background-color: blue;
  padding: 5%;
}

.btn-clr > a {
  background-color: white;
  color: blue;
}
.btn-clr :hover {
  color: white;
  background-color: blue;
  border: 1px solid white;
}
.clr {
  font-size: 80px;
  color: rgb(255, 161, 161);
}


@media screen and (max-width: 820px) {
    .sol-main-div-1 > div{
        flex-basis: 100%;
    }
    .cont-headlines{
        text-align: left;
        font-size: 50px;
        word-spacing: 3px;
    }
    .cont-details{
        text-align: left;
    }
    img{
        margin-top: 50px;
        width: 100%;
    }
    .div-2-cont > div{
        flex-basis: 100%;
    }
    .btn2{
        width: 100%;
        margin: 50px 15% 20px;
    }
    #contact-body-digs1{
      height: 1000px;
    
    } 
    .contact-loc-info{
        display: flex;
        margin-left: 12%;
        flex-wrap: wrap;
    }
    .contact-loc-info > div{
        flex-basis: 90%;
        flex-wrap: wrap;
        margin: 2.5%;
    }
    .contact-addr > div{
        flex-basis: 90%; 
        margin-bottom: 0;
    }
    .div-color{
        height: 450px;
    } 

}

@media screen and (min-width: 821px) and (max-width: 1500px){
    .cont-headlines{
        font-size: 50px;
        word-spacing: 3px;
    }
    .btn-a{
        width: 100%;
    }
    .btn2{
        width: 80%;
        margin: 50px 30% 20px;
    }
 
    .div-color{
        height: 400px;
    } 
}

