@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.container{
    width: 100%;
    height: 4000px;
    background-color: blueviolet;
}
.headline{
    height: 11%;
    width: 100%;
    background-color: white;
}
.heading{
    height: 76%;
    width: 75%;
    padding-top: 2%;
    margin: 0% auto;
    max-height: none;
}
.heading>p{
    font-size: 1.3rem;
    max-width: 1000px;
    margin: auto;
}
.heading>button{
    height: 22%;
    width: 22%;
    margin: 4% 0% 0% 35%;
    background-color: #03f;
    color: #fff;
}
.duration{
    height: 16%;
    width: 30%;
    margin: auto;
    display: flex;
}
button{
    height: 90%;
    margin-top: 1%;
    width: 50%;
    border: gray solid 1px;
    font-size: 1.9rem;
    background-color: white;
}
.active_button{
    height: 100%;
    margin-top: 0%;
    border-top: black solid 3px;
    background-color: #d4d3d3;
}
.plans{
    height: 30%;
    width: 100%;
    background-color:#d4d3d3 ;
    padding-top: 4%;
}
.plans>div{
    height: 80%;
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
}
.card{
    height: 100%;
    width: 22.3%;
    border-bottom: gray solid 2px;
    padding-left: 2.5%;
}
.card>img{
    height: 13%;
    width: 50%;
    margin: -50px 0% 6%;
}
.card>h2{
    font-size: 2rem;
}
.card>p{
    font-size: 1.2rem;
    margin: 6% 0%;
    color: rgba(90, 86, 86, 0.774);
}
.card>h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15% 0%;
}
h1>span{
    font-size: 2rem;
}
.whatyouget{
    height: 18%;
    width: 100%;
    margin: 18% 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,25%);
}
.whatyouget>div{
    display: flex;
    flex-basis: 15%;
}
.whatyouget>div span{
    font-size: 20px;
    background-color: gray;
}
.grow{
    word-spacing: 2px;
    padding-top: 3%;
    flex-grow: 1;
}
.card>button{
    height: 8%;
    width: 80%;
    font-size: 1.2rem;
    margin: 18% 0% 10%;
    background-color: #03f;
    color: #fff;
}
.card:nth-child(2){
    height: 99.7%;
    border: black solid 3px;
}
.card:nth-child(3){
    border-right: gray solid 2px;
}
.plans>.include{
    height: 20%;
    display: block;
}
.include>h2{
    padding-top: 2%;
    text-align: center;
}
.flex{
    height: 30%;
    width: 80%;
    margin:1% auto 0%;
    display: flex;
}
.flex>div{
    width: 25%;
    display: flex;
}
.flex>div>img{
    height: 50%;
    width: 20%;
}
.include>button{
    width: 15%;
    height: 25%;
    font-size: 1.4rem;
    margin-left: 43%;
    border: blue solid 2px;
}
.plans>.visible{
    display: none;
}
/* after content */
.after-content > div:nth-child(1) {
    padding: 10px 0px 30px;
  }
  /* full width content */
  .full-width-content {
    padding: 10px 7% 50px;
    border-bottom: black solid 2px;
  }
  .full-width-content > div {
      display: block;
  }
  .full-width-content > div div {
    max-width: 48%;
    margin: auto;
  }
  .full-width-content > div div h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
  .full-width-content > div div p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 2rem 0px;
    color: rgb(243, 241, 241);
  }
  .full-width-content img {
    width: 48%;
  }
  
  /* full width content width blue color */
  .full-width-content-blue {
      height: 10%;
      border-bottom: blue solid 2px;
  }
  .full-width-content-blue > div {
    width: 80%;
    margin:0px auto 20px;
    display: flex;
  }
  .full-width-content-blue > div p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-family: "Source Sans Pro", sans-serif;
  }
  .full-width-content-blue > div a {
      margin-top: 20px;
      height: 18%;
      width: 40%;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(16, 31, 238);
  }
  .full-width-content-blue > div:nth-child(1) a {
    background-color: white;
  }
  .chat{
      height: 8%;
      width: 100%;
      border-bottom: black solid 2px;
  }
  .chat>div{
      width: 80%;
      height: 100%;
      margin: auto;
  }
  .chat>div>h1{
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 3%;
  }
  .chat>div>button{
      margin-left: 45%;
      height: 25%;
      width: 12%;
  }
  .line{
      height: 4px;
      width: 30px;
      margin:4.5% auto;
      background-color: burlywood;
  }
  /* earnworthy founder */
.earnworthy {
    width: 90%;
    display: flex;
    margin: 5rem auto 0px;
  }
  .earnworthy > img {
    max-width: 48%;
    height: auto;
    margin: auto;
  }
  .earnworthy div {
    text-align: left;
    margin-left: 5%;
  }
  .earnworthy div h4 {
    font-size: 34px;
    font-weight: 400;
    line-height: 3.1rem;
    margin-top: 4rem;
  }
  .earnworthy div h4::before {
    content: "“";
  }
  .earnworthy div h4::after {
    content: "”";
  }
  .earnworthy div p {
    color: #303030;
    font-size: 20px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .earnworthy div img {
    width: 120px;
  }