@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.container{
    width: 100%;
    height: 4000px;
    background-color: blueviolet;
}
.headline{
    height: 11%;
    width: 100%;
    background-color: white;
}
.heading{
    height: 76%;
    width: 75%;
    padding-top: 2%;
    margin: 0% auto;
    max-height: none;
}
.heading>p{
    font-size: 1.3rem;
    max-width: 1000px;
    margin: auto;
}
.heading>button{
    height: 22%;
    width: 22%;
    margin: 4% 0% 0% 35%;
    background-color: #03f;
    color: #fff;
}
.duration{
    height: 16%;
    width: 30%;
    margin: auto;
    display: flex;
}
button{
    height: 90%;
    margin-top: 1%;
    width: 50%;
    border: gray solid 1px;
    font-size: 1.9rem;
    background-color: white;
}
.active_button{
    height: 100%;
    margin-top: 0%;
    border-top: black solid 3px;
    background-color: #d4d3d3;
}
.plans{
    height: 30%;
    width: 100%;
    background-color:#d4d3d3 ;
    padding-top: 4%;
}
.plans>div{
    height: 80%;
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
}
.card{
    height: 100%;
    width: 22.3%;
    border-bottom: gray solid 2px;
    padding-left: 2.5%;
}
.card>img{
    height: 13%;
    width: 50%;
    margin: -50px 0% 6%;
}
.card>h2{
    font-size: 2rem;
}
.card>p{
    font-size: 1.2rem;
    margin: 6% 0%;
    color: rgba(90, 86, 86, 0.774);
}
.card>h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15% 0%;
}
h1>span{
    font-size: 2rem;
}
.whatyouget{
    height: 18%;
    width: 100%;
    margin: 18% 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,25%);
}
.whatyouget>div{
    display: flex;
    flex-basis: 15%;
}
.whatyouget>div span{
    font-size: 20px;
    background-color: gray;
}
.grow{
    word-spacing: 2px;
    padding-top: 3%;
    flex-grow: 1;
}
.card>button{
    height: 8%;
    width: 80%;
    font-size: 1.2rem;
    margin: 18% 0% 10%;
    background-color: #03f;
    color: #fff;
}
.card:nth-child(2){
    height: 99.7%;
    border: black solid 3px;
}
.card:nth-child(3){
    border-right: gray solid 2px;
}
.plans>.include{
    height: 20%;
    display: block;
}
.include>h2{
    padding-top: 2%;
    text-align: center;
}
.flex{
    height: 30%;
    width: 80%;
    margin:1% auto 0%;
    display: flex;
}
.flex>div{
    width: 25%;
    display: flex;
}
.flex>div>img{
    height: 50%;
    width: 20%;
}
.include>button{
    width: 15%;
    height: 25%;
    font-size: 1.4rem;
    margin-left: 43%;
    border: blue solid 2px;
}
.plans>.visible{
    display: none;
}
