@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,300;0,400;1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* Apply styles after scroll */
.scrolling-active > div {
    padding: auto;
    background-color: white;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  }
  .scrolling-active .navbar-top-right a[name="log in"] {
    color: blue;
    background: none;
  }
  .scrolling-active .navbar-top-right a[name="free trial"] {
    color: white;
    background-color: blue;
  }
  .scrolling-active .navbar-top-right a[name="free trial"],
  .scrolling-active .navbar-top-right a[name="log in"] {
    border: 2px solid blue;
  }
  
  /* slides before header */
  div.header-section img[name="slide"] {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  /* header with class navbar-fixed */
  header.navbar-fixed > div {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 20px 8.5% 13px;
  }
  header > div > a {
    min-width: 150px;
    margin-right: 5%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }
  header > div .list {
    width: 40%;
    display: flex;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 15%;
    list-style-type: none;
  }
  
  /* menu appearing when hovered on header link list */
  .products {
    padding-top: 12px;
  }
  .products .products-hover {
    position: absolute;
    display: flex;
    width: 650px;
    height: 420px;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(207, 206, 206);
  }
  .products .products-hover div.p-line {
    width: 10px;
    height: 100px;
    background-color: #03f;
  }
  .products .products-hover div.hr {
    width: 2px;
    height: 100%;
    background-color: #cdc8c8;
  }
  .products .products-hover div:nth-child(2) {
    width: 700px;
  }
  .products .products-hover div:nth-child(2),
  .products .products-hover div:nth-child(4) {
    padding: 25px 20px;
  }
  .products .products-hover div h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(44, 41, 41);
  }
  .products .products-hover div:nth-child(2) h5::after {
    content: "New";
    font-size: 10px;
    margin-left: 5px;
    padding: 3px 5px;
    background-color: rgb(76, 221, 76);
  }
  .products .products-hover div:nth-child(2) p {
    width: 270px;
  }
  .products .products-hover div p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .products .products-hover div div a {
    display: flex;
    margin: 30px 0px;
    color: #303030;
  }
  .products .products-hover div div a img {
    margin-right: 10px;
  }
  .products .products-hover {
    display: none;
  }
  /* solution hover */
  .solution {
    padding-top: 12px;
  }
  .solution .products-hover {
    width: 450px;
    height: 300px;
    position: absolute;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(207, 206, 206);
  }
  .solution .products-hover div:nth-child(1) {
    width: 240px;
  }
  .solution .products-hover div:nth-child(1),
  .solution .products-hover div:nth-child(3) {
    padding: 25px 20px;
  }
  .solution .products-hover div h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(44, 41, 41);
  }
  .solution .products-hover div.hr {
    width: 1px;
    height: 100%;
    background-color: #cdc8c8;
  }
  .solution .products-hover div div a {
    display: flex;
    margin: 30px 0px;
    color: #303030;
  }
  .solution .products-hover {
    display: none;
  }
  /* learn hover */
  .learn {
    padding-top: 30px;
  }
  .learn .products-hover {
    width: 670px;
    height: 420px;
    position: absolute;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(207, 206, 206);
  }
  .learn .products-hover div:nth-child(1),
  .learn .products-hover div:nth-child(3) {
    padding: 25px 20px;
  }
  .learn .products-hover div:nth-child(1) {
    width: 320px;
    padding-left: 15px;
    padding-top: 0px;
  }
  .learn .products-hover div:nth-child(1) a {
    font-size: 18px;
  }
  .learn .products-hover div:nth-child(3) {
    text-align: left;
    width: 300px;
  }
  .learn .products-hover div:nth-child(3) div {
    padding: 0px;
  }
  .learn .products-hover div:nth-child(3) div a {
    font-size: 12px;
    text-decoration: underline;
    margin: 45px 0px 15px;
  }
  .learn .products-hover div:nth-child(3) div img {
    width: 300px;
    margin-left: 0px;
  }
  .learn .products-hover div h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(44, 41, 41);
  }
  .learn .products-hover div.hr {
    width: 1px;
    height: 100%;
    background-color: #cdc8c8;
  }
  .learn .products-hover div div a {
    display: flex;
    margin: 30px 0px;
    color: #303030;
  }
  .learn .products-hover {
    display: none;
  }
  
  /* li items inside list of header */
  header > div .list li {
    margin-right: 40px;
  }
  
  /* header nav links - after pseudo class */
  header > div .list li:nth-child(1) > a::after,
  header > div .list li:nth-child(2) > a::after,
  header > div .list li:nth-child(4) > a::after {
    content: "╲╱";
    position: relative;
    font-size: 0.3rem;
    margin-left: 5px;
  }
  
  /* anchor tag inside list item */
  header > div a {
    text-decoration: none;
    color: black;
  }
  
  /* search icon, and log in buttons inside header */
  header > div .navbar-top-right {
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header > div .navbar-top-right img {
    margin: 0px 3px;
    background-color: transparent;
  }
  header > div .navbar-top-right button[value="log in"] {
    background-color: transparent;
  }
  header > div .navbar-top-right a[name="free trial"] {
    color: white;
    background-color: black;
  }
  header > div .navbar-top-right a[name="free trial"],
  header > div .navbar-top-right a[name="log in"] {
    margin-left: 10px;
    border: 2px solid black;
    padding: 8px 11px;
  }
  /* header sidebar display none */
  .header-sidebar {
    display: none;
  }
  #menu {
    display: none;
  }
  /* Footer style for the Page */
footer > div {
    width: 1110px;
    margin: 110px auto;
  }
  footer div.footer-logo img {
    width: 180px;
    margin-bottom: 1rem;
  }
  footer div.footer-links {
    display: flex;
  }
  footer div.footer-links div {
    margin: 0px auto 0px 0px;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 4;
  }
  footer div.footer-links div h3 {
    font-size: 24px;
  }
  footer div.footer-links div ul li {
    list-style-type: none;
    font-family: "Source Sans Pro", sans-serif;
  }
  footer div.footer-links div ul li a {
    text-decoration: none;
    color: #303030;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
  }
  footer div.footer-bottom {
    display: flex;
    align-items: center;
    margin: 100px auto 0px;
  }
  footer div.footer-bottom div:nth-child(1) {
    color: #303030;
    font-size: 0.9rem;
    font-weight: 400;
    margin: auto;
    font-family: "Source Sans Pro", sans-serif;
  }
  footer div.footer-bottom div:nth-child(2) {
    margin-left: 30%;
  }
  footer div.footer-bottom div:nth-child(3) {
    margin-left: 0.5%;
  }
  footer div.footer-bottom div.copyright {
    margin-left: 0px;
  }
  footer div.footer-bottom div.terms-privacy {
    display: flex;
    width: 25%;
  }
  footer div.footer-bottom div.terms-privacy a {
    text-decoration: none;
    color: #303030;
    font-size: 0.9rem;
    font-weight: 400;
    margin: auto;
    font-family: "Source Sans Pro", sans-serif;
  }
  footer div.footer-bottom div.social-media {
    margin-right: 0px;
  }
  footer div.footer-bottom div.social-media a img {
    width: 30px;
    margin: 0px 2px;
  }
  footer div.footer-bottom div.social-media a:nth-child(3) img {
    border-radius: 50%;
  }
/* container */
.container{
    width: 100%;
    height: 4000px;
    /* background-color: blueviolet; */
}
.headline{
    height: 11%;
    width: 100%;
    background-color: white;
}
.heading{
    height: 76%;
    width: 75%;
    padding-top: 2%;
    margin: 0% auto;
    max-height: none;
}
.heading>p{
    font-size: 1.3rem;
    max-width: 1000px;
    margin: auto;
}
.heading>button{
    height: 22%;
    width: 22%;
    margin: 4% 0% 0% 35%;
    background-color: #03f;
    color: #fff;
}
.duration{
    height: 16%;
    width: 30%;
    margin: auto;
    display: flex;
}
button{
    height: 90%;
    margin-top: 1%;
    width: 50%;
    border: gray solid 1px;
    font-size: 1.9rem;
    background-color: white;
}
.active_button{
    height: 100%;
    margin-top: 0%;
    border-top: black solid 3px;
    background-color: #d4d3d3;
}
.plans{
    height: 30%;
    width: 100%;
    background-color:#d4d3d3 ;
    padding-top: 4%;
}
.plans>div{
    height: 80%;
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
}
.card{
    height: 100%;
    width: 22.3%;
    border-bottom: gray solid 2px;
    padding-left: 2.5%;
}
.card>img{
    height: 13%;
    width: 50%;
    margin: -50px 0% 6%;
}
.card>h2{
    font-size: 2rem;
}
.card>p{
    font-size: 1.2rem;
    margin: 6% 0%;
    color: rgba(90, 86, 86, 0.774);
}
.card>h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15% 0%;
}
h1>span{
    font-size: 2rem;
}
.whatyouget{
    height: 18%;
    width: 100%;
    margin: 18% 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,25%);
}
.whatyouget>div{
    display: flex;
    flex-basis: 15%;
}
.whatyouget>div span{
    font-size: 20px;
    background-color: gray;
}
.grow{
    word-spacing: 2px;
    padding-top: 3%;
    flex-grow: 1;
}
.card>button{
    height: 8%;
    width: 80%;
    font-size: 1.2rem;
    margin: 18% 0% 10%;
    background-color: #03f;
    color: #fff;
}
.card:nth-child(2){
    height: 99.7%;
    border: black solid 3px;
}
.card:nth-child(3){
    border-right: gray solid 2px;
}
.plans>.include{
    height: 20%;
    display: block;
}
.include>h2{
    padding-top: 2%;
    text-align: center;
}
.flex{
    height: 30%;
    width: 80%;
    margin:1% auto 0%;
    display: flex;
}
.flex>div{
    width: 25%;
    display: flex;
}
.flex>div>img{
    height: 50%;
    width: 20%;
}
.include>button{
    width: 15%;
    height: 25%;
    font-size: 1.4rem;
    margin-left: 43%;
    border: blue solid 2px;
}
.plans>.visible{
    display: none;
}
/* after content */
.after-content > div:nth-child(1) {
    padding: 10px 0px 30px;
  }
  /* full width content */
  .full-width-content {
    padding: 10px 7% 50px;
    border-bottom: black solid 2px;
  }
  .full-width-content > div {
      display: block;
  }
  .full-width-content > div div {
    max-width: 48%;
    margin: auto;
  }
  .full-width-content > div div h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 300;
  }
  .full-width-content > div div p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 2rem 0px;
  }
  .full-width-content img {
    width: 48%;
  }
  
  /* full width content width blue color */
  .full-width-content-blue {
      height: 10%;
      border-bottom: blue solid 2px;
  }
  .full-width-content-blue > div {
    width: 80%;
    margin:0px auto 20px;
    display: flex;
  }
  .full-width-content-blue > div p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-family: "Source Sans Pro", sans-serif;
  }
  .full-width-content-blue > div a {
      margin-top: 20px;
      height: 18%;
      width: 40%;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px solid rgb(16, 31, 238);
  }
  .full-width-content-blue > div:nth-child(1) a {
    background-color: white;
  }
  .chat{
      height: 8%;
      width: 100%;
      border-bottom: black solid 2px;
  }
  .chat>div{
      width: 80%;
      height: 100%;
      margin: auto;
  }
  .chat>div>h1{
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 3%;
  }
  .chat>div>button{
      margin-left: 45%;
      height: 25%;
      width: 12%;
  }
  .line{
      height: 4px;
      width: 30px;
      margin:4.5% auto;
      background-color: burlywood;
  }
  /* earnworthy founder */
.earnworthy {
    width: 90%;
    display: flex;
    margin: 5rem auto 0px;
  }
  .earnworthy > img {
    max-width: 48%;
    height: auto;
    margin: auto;
  }
  .earnworthy div {
    text-align: left;
    margin-left: 5%;
  }
  .earnworthy div h4 {
    font-size: 34px;
    font-weight: 400;
    line-height: 3.1rem;
    margin-top: 4rem;
  }
  .earnworthy div h4::before {
    content: "“";
  }
  .earnworthy div h4::after {
    content: "”";
  }
  .earnworthy div p {
    color: #303030;
    font-size: 20px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .earnworthy div img {
    width: 120px;
  }