/* Universal selector */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* font-family for all kind of headers and paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #303030;
}
footer div.footer-links div {
  font-weight: 600;
}

/* text over viewport */
.small-screen-para {
  display: none;
}
.viewport div.head-para-a {
  position: relative;
  width: 1120px;
  top: 12vw;
  margin: auto;
}
.viewport div.head-para-a h1 {
  font-weight: 600;
  font-size: 5vw;
  font-family: "Source Sans Pro", sans-serif;
}
.viewport div.head-para-a p {
  width: 290px;
  margin: 1rem 6rem 3rem 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.56;
  font-family: "Source Sans Pro", sans-serif;
}
div.head-para-a b {
  font-size: 15px;
}
.viewport div.head-para-a a {
  text-decoration: none;
  padding: 12px 10px;
  font-weight: 600;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 2px;
  color: black;
  background-color: transparent;
}

/* Content below viewport */
.content {
  text-align: center;
  margin: auto;
  margin-top: 40vh;
}

/* customers proof */
.customers {
  margin: auto;
}
.customers > h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.customers div.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 0px;
}
.customers div.customers-list p {
  font-size: 28px;
  color: #303030;
  min-width: 200px;
}
.customers div.customers-list > p img {
  max-width: 100px;
}
.customers div.customers-list > p:nth-child(5),
.customers div.customers-list > p:nth-child(6) {
  display: flex;
  align-items: center;
}
.customers div.customers-list > p:nth-child(5) img,
.customers div.customers-list > p:nth-child(6) img:nth-child(1) {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.customers div.customers-list > p:nth-child(6) img:nth-child(2) {
  width: 150px;
}

/* Design for small businesses */
.design-small-business h1 {
  font-size: 72px;
  margin: 10rem 0px 2rem;
}
.design-small-business p {
  max-width: 800px;
  margin: 1rem auto 1rem;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  font-family: "Source Sans Pro", sans-serif;
}
.design-small-business img {
  width: 80%;
  margin: 3rem auto;
}

/* design intro */
.design-intro {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 8rem;
}
.design-intro div {
  max-width: 300px;
  text-align: left;
  margin: 2rem auto;
}
.design-intro div h2 {
  font-size: 30px;
  margin: 0.6rem 0px 2rem;
}
.design-intro div p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  color: #303030;
  font-family: "Source Sans Pro", sans-serif;
}
.design-intro div img {
  width: 50px;
}

/* smart conversions */
div.line {
  width: 60px;
  height: 8px;
  margin: 0px auto 1rem;
  background-color: #ffa1a1;
}
.smart-conversions h2 {
  font-size: 42px;
  margin: 2rem auto 4rem;
}
.smart-conversions > a {
  text-decoration: none;
  padding: 20px 40px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 2px;
  color: white;
  background-color: blue;
}
.smart-conversions h1 {
  font-size: 4.8rem;
  margin: 10rem auto 2rem;
}
.smart-conversions p {
  max-width: 840px;
  margin: 1rem auto 1rem;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  font-family: "Source Sans Pro", sans-serif;
}
.smart-conversions p > a {
  font-size: 18px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

/* smart-conversions-learn */
.smart-conversions-learn {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  margin: 10rem auto 0px;
}
.smart-conversions-learn div {
  margin: 4rem auto;
  max-width: 320px;
  padding: 0.5rem;
  border: 1px solid rgb(230, 228, 228);
  text-align: left;
}
.smart-conversions-learn div:nth-child(1) {
  margin-left: 0px;
}
.smart-conversions-learn div img {
  position: relative;
  height: auto;
  min-height: 326px;
  max-width: 100%;
  margin-top: -50%;
}
.smart-conversions-learn div h2 {
  font-size: 30px;
}
.smart-conversions-learn div p {
  width: 90%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  margin: 2rem 0px;
  font-family: "Source Sans Pro", sans-serif;
}
.smart-conversions-learn div a {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  background-color: transparent;
}
.smart-conversions-learn div a::before {
  content: "⇾";
  margin-right: 10px;
}

/* earnworthy founder */
.earnworthy {
  width: 90%;
  display: flex;
  margin: 5rem auto 0px;
}
.earnworthy > img {
  max-width: 48%;
  height: auto;
  margin: auto;
}
.earnworthy div {
  text-align: left;
  margin-left: 5%;
}
.earnworthy div h4 {
  font-size: 34px;
  line-height: 3.1rem;
  margin-top: 4rem;
}
.earnworthy div h4::before {
  content: "“";
}
.earnworthy div h4::after {
  content: "”";
}
.earnworthy div p {
  color: #303030;
  font-size: 20px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.earnworthy div img {
  width: 120px;
}

/* after content */
.after-content > div:nth-child(1) {
  background-color: #303030;
  padding: 10px 0px 30px;
  margin: 50px 0px 0px;
}
/* full width content */
.full-width-content {
  padding: 10px 7% 50px;
  margin-top: 5rem;
}
.full-width-content > div {
  display: flex;
  flex-wrap: wrap;
}
.full-width-content > div div {
  max-width: 48%;
  margin-top: 30px;
  margin-right: auto;
}
.full-width-content > div div h1 {
  font-size: 70px;
  color: #fff;
}
.full-width-content > div div p {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin: 2rem 0px;
  color: rgb(243, 241, 241);
}
.full-width-content > div div p strong {
  color: rgb(250, 244, 244);
}
.full-width-content > div div a {
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  background-color: transparent;
}
.full-width-content > div div a::before {
  content: "⇾";
  margin-right: 10px;
}
.full-width-content img {
  width: 48%;
}

/* full width content width blue color */
.full-width-content-blue {
  background-color: #03f;
  padding: 100px 9.5% 150px;
  display: flex;
}
.full-width-content-blue > div {
  text-align: left;
  width: 40%;
}
.full-width-content-blue > div:nth-child(1) {
  margin-right: 20%;
}
.full-width-content-blue > div div.line {
  margin-left: 0px;
}
.full-width-content-blue > div h2 {
  font-size: 35px;
  color: white;
}
.full-width-content-blue > div p {
  color: white;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  font-family: "Source Sans Pro", sans-serif;
}
.full-width-content-blue > div a {
  text-decoration: none;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid white;
}
.full-width-content-blue > div:nth-child(1) a {
  background-color: white;
}
.full-width-content-blue > div:nth-child(2) a {
  color: white;
}


/* Media queries */
@media screen and (min-width: 1200px) {
  .design-intro,
  .smart-conversions-learn {
    width: 85%;
  }
  .earnworthy {
    width: 87%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  /* text over viewport */
  .viewport div.head-para-a {
    width: 940px;
    top: 9vw;
  }
  /* content media */
  .content {
    margin-top: 30vh;
  }
  .customers > h3 {
    text-align: left;
    margin: auto;
  }
  .design-intro {
    width: 77%;
  }
  .design-intro div {
    max-width: 250px;
  }
  .smart-conversions-learn {
    width: 76%;
  }
  .smart-conversions-learn div {
    max-width: 280px;
    padding: 2rem;
  }
  .smart-conversions-learn div img {
    max-width: 60%;
    min-height: unset;
    margin-top: -40%;
  }
  .earnworthy {
    margin: 0px auto;
  }
  .earnworthy div h4 {
    padding-top: 100px;
  }
  .full-width-content > div div {
    width: 60%;
  }
  .full-width-content > div div p {
    width: 100%;
  }
  .full-width-content img {
    max-width: 470px;
    height: 382px;
    margin: auto;
  }
}

@media screen and (max-width: 1025px) and (min-width: 770px) {
  .content {
    margin-top: 30vh;
  }
  /* text over viewport */
  .viewport div.head-para-a {
    width: 700px;
    margin-left: 20px;
    top: 9vw;
  }
  .viewport div.head-para-a p {
    width: 250px;
    line-height: 1;
    margin: 10px 0px 30px;
  }
  .customers > h3 {
    text-align: left;
    margin: auto;
    margin-top: 32vh;
  }
  .earnworthy div h4 {
    font-size: 26px;
    line-height: 2rem;
  }
  .full-width-content > div div h1 {
    font-size: 40px;
  }
  .full-width-content img {
    max-width: 470px;
    height: 382px;
    margin: auto;
  }
}

@media screen and (max-width: 1130px) and (min-width: 990px) {
  .smart-conversions-learn {
    width: 83%;
  }
  .smart-conversions-learn div {
    max-width: 250px;
  }
  .smart-conversions-learn div img {
    max-width: 60%;
    min-height: unset;
    margin-top: -40%;
  }
}

@media screen and (max-width: 990px) and (min-width: 770px) {
  .smart-conversions-learn {
    width: 700px;
  }
  .smart-conversions-learn div {
    max-width: 340px;
  }
  .smart-conversions-learn div img {
    max-width: 60%;
    min-height: unset;
    margin-top: -40%;
  }
  .earnworthy div h4 {
    font-size: 26px;
    line-height: 2rem;
  }
  .full-width-content {
    padding: 0px 4% 20px;
    margin: 1rem 0px 0px;
  }
  .full-width-content img {
    max-width: 285px;
    height: 350px;
    margin: auto;
  }
}

@media screen and (max-width: 770px) and (min-width: 570px) {
  .content {
    margin-top: 20px;
  }
  /* text over viewport */
  .viewport div.head-para-a {
    width: 450px;
    margin-left: 20px;
    top: 9vw;
  }
  .viewport div.head-para-a p {
    width: 250px;
    line-height: 1;
    margin: 10px 0px 30px;
  }
  /* content */
  .content {
    text-align: left;
    padding-left: 4%;
  }
  .customers > h3 {
    font-size: 32px;
  }
  .customers div.customers-list p {
    margin: 25px;
  }
  .design-small-business h1 {
    font-size: 40px;
    margin-top: 3rem;
  }
  .design-small-business p {
    margin-left: 0px;
  }
  .design-intro {
    margin-bottom: 2rem;
  }
  .design-intro div {
    max-width: 450px;
  }
  div.line {
    margin-left: 0px;
  }
  .smart-conversions {
    margin: 1rem 0px;
  }
  .smart-conversions h2 {
    font-size: 40px;
  }
  .smart-conversions h1 {
    margin-top: 4rem;
    font-size: 3rem;
  }
  .smart-conversions p {
    max-width: 90%;
    margin-left: 0px;
  }
  .smart-conversions-learn {
    max-width: 85%;
  }
  .smart-conversions-learn div {
    width: 100%;
    margin: 70px auto;
  }
  .smart-conversions-learn div:nth-child(1) {
    margin-top: 0px;
    margin-left: auto;
  }
  .earnworthy {
    width: 90%;
    margin-left: 1%;
    margin-top: 0px;
    flex-direction: column-reverse;
  }
  .earnworthy div h4 {
    font-size: 26px;
    line-height: 2rem;
  }
  .earnworthy > img {
    width: 250px;
    margin-top: 40px;
    margin-left: 5%;
  }
  .full-width-content > div {
    margin: auto;
    flex-direction: column;
  }
  .full-width-content > div div h1 {
    font-size: 42px;
  }
  .full-width-content > div > div.big {
    max-width: 100%;
    margin: auto;
  }
  .full-width-content img {
    width: 480px;
    height: 390px;
    margin: auto;
  }
  .full-width-content-blue {
    flex-direction: column;
    padding: 50px 0px 50px;
  }
  .full-width-content-blue > div {
    width: 67%;
    margin: auto;
    padding-bottom: 40px;
  }
  .full-width-content-blue > div:nth-child(1) {
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 570px) {
  .content {
    margin-top: 20vh;
  }
  /* text over viewport */
  .viewport div.head-para-a {
    width: 400px;
    margin-left: 20px;
    top: 9vw;
  }
  .viewport div.head-para-a p {
    width: 250px;
    line-height: 1;
    margin: 10px 0px 30px;
  }
  /* content */
  .content {
    text-align: left;
    padding-left: 4%;
  }
  .customers div.customers-list p {
    margin: 5px auto;
    text-align: center;
  }
  .customers div.customers-list > p img {
    width: 110px;
  }
  .customers div.customers-list > p:nth-child(5),
  .customers div.customers-list > p:nth-child(6) {
    font-size: 20px;
    padding-left: 35px;
    text-align: center;
  }
  .design-small-business h1 {
    margin-top: 4rem;
    font-size: 40px;
    text-align: left;
  }
  .design-small-business p {
    max-width: 410px;
    margin-left: 0px;
  }
  .design-intro {
    margin-bottom: 2rem;
  }
  .design-intro div {
    max-width: 400px;
    padding-right: 10px;
  }
  div.line {
    margin-left: 0px;
  }
  .smart-conversions {
    margin: 1rem 0px;
  }
  .smart-conversions h2 {
    font-size: 37px;
  }
  .smart-conversions h1 {
    margin-top: 4rem;
    font-size: 2.5rem;
  }
  .smart-conversions p {
    max-width: 90%;
    margin-left: 0px;
  }
  .smart-conversions-learn {
    max-width: 85%;
  }
  .smart-conversions-learn div {
    width: 100%;
    margin: 70px auto;
  }
  .smart-conversions-learn div:nth-child(1) {
    margin-top: 0px;
    margin-left: auto;
  }
  .earnworthy {
    width: 90%;
    margin-left: 1%;
    margin-top: 0px;
    flex-direction: column-reverse;
  }
  .earnworthy div h4 {
    font-size: 26px;
    line-height: 2rem;
  }
  .earnworthy > img {
    width: 250px;
    margin-top: 40px;
    margin-left: 5%;
  }
  .full-width-content > div {
    margin: auto;
    flex-direction: column;
  }
  .full-width-content > div div h1 {
    font-size: 42px;
  }
  .full-width-content > div > div.big {
    max-width: 100%;
    margin: auto;
  }
  .full-width-content img {
    width: 300px;
    height: 260px;
    margin: auto;
  }
  .full-width-content-blue {
    flex-direction: column;
    padding: 50px 0px 50px;
  }
  .full-width-content-blue > div {
    width: 67%;
    margin: auto;
    padding-bottom: 40px;
  }
  .full-width-content-blue > div:nth-child(1) {
    margin-right: auto;
    margin-bottom: 50px;
  }
}

/* viewport and paragraph */

@media screen and (max-width: 775px) {
  .content {
    margin-top: 20px;
  }
  .viewport div.head-para-a div {
    display: none;
  }
  .header-section div.head-para-a {
    position: static;
    width: 80%;
    padding-top: 15vh;
    margin-left: 0px;
  }
  .viewport div.head-para-a h1 {
    font-size: 5.8rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    padding-left: 85px;
  }
  .small-screen-para {
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px 0px;
    margin: 86vh auto 0px;
  }
  .small-screen-para div {
    width: 88%;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .small-screen-para p {
    width: 50%;
    margin-left: auto;
    line-height: 18px;
    font-size: 13px;
  }
  .small-screen-para p b {
    font-size: 12px;
  }
  .small-screen-para a {
    width: 190px;
    margin-left: 3%;
    margin-right: auto;
    padding: 15px 14px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: transparent;
    border: 3px solid black;
  }
}
@media screen and (max-width: 755px) {
  .small-screen-para {
    margin: 84vh auto 0px;
  }
}
@media screen and (max-width: 744px) {
  .small-screen-para {
    margin: 81vh auto 0px;
  }
}
@media screen and (max-width: 725px) {
  .small-screen-para {
    margin: 76vh auto 0px;
  }
}
@media screen and (max-width: 700px) {
  .small-screen-para {
    margin: 70vh auto 0px;
  }
}
@media screen and (max-width: 667px) {
  .small-screen-para {
    margin: 67vh auto 0px;
  }
}
@media screen and (max-width: 650px) {
  .small-screen-para {
    margin: 60vh auto 0px;
  }
}
@media screen and (max-width: 610px) {
  .small-screen-para {
    margin: 55vh auto 0px;
  }
}
@media screen and (max-width: 595px) {
  .small-screen-para {
    margin: 65vh auto 0px;
  }
}
@media screen and (max-width: 583px) {
  .small-screen-para {
    margin: 60vh auto 0px;
  }
}
@media screen and (max-width: 555px) {
  .small-screen-para {
    margin: 56vh auto 0px;
  }
}
@media screen and (max-width: 534px) {
  .small-screen-para {
    margin: 50vh auto 0px;
  }
}
@media screen and (max-width: 595px) {
  .viewport div.head-para-a h1 {
    font-size: 4rem;
    padding-left: 5%;
  }
}